
      /* Styles for the isUserLoggedIn pop-up container */
      .login-popup {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100% ;
        backdrop-filter: blur(10px);
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 999;
      }

      .popup-content-auth {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        text-align: center;
      }

      .popup-content-auth p {
        margin-bottom: 20px;
      }

      .popup-content-auth button {
        margin: 0 10px;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        background-color: #4285f4;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
      }

      .popup-content-auth button:hover {
        background-color: #1a73e8;
      }


    </style>




        <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }


      html, body {
        height: 100%;

      }

      body {
        font-family: "Roboto Mono", monospace;
        font-size: 0.8rem;
        overflow-y: scroll;
      }

      .main-page {
          height: 100vh; /* Set the main page height to occupy the full viewport height */
        }

        .sound-clips-page {
          height: 100vh; /* Set the sound clips page height to occupy the full viewport height */
        }

      .wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
      }

      h1 {
        font-size: 2rem;
        text-align: center;
        font-weight: normal;
        padding: 0.5rem 0 0 0;
      }



      .main-controls {
        padding: 2rem 0;
      }

      .top-display {
        font-size: 1.5rem;
        text-align: center;
        padding: 2.0rem 0.5rem 2.0rem 0.5rem;
      }

      /* .directions {
        font-size: 1.0rem;
        text-align: left;
      } */

      .sidebar .profile-details img{
        height: 50px;
        width: 50px;
        object-fit: cover;
        border-radius: 16px;
        margin: 0 14px 0 12px;
        background: #1d1b31;
        transition: all 0.3s ease;
      }


      .sidebar .profile-details img:hover {
        transform: scale(1.1); /* Increase the size by 10% */
      }

      .sidebar .profile-details .profile_name{
          color: #fff;
          font-size: 13px;
          font-weight: 500;
          white-space: nowrap;
        }


      .directions {
        font-size: 1.0rem;
        text-align: left;
        position: relative;
        display: inline-block;
      }

    /* Customize the select element */
    .directions select {
      font-family: 'Poppins', sans-serif;
      font-size: 1.0rem;
      padding: 8px 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      background-color: #fff;
      appearance: none;
      width: 200px;
      height: 40px; 
      line-height: 1.5;
      padding-right: 32px; /* Adjust padding to make space for the arrow */
      transition: border-color 0.3s;
    }

      /* Style the arrow */
    .arrow::after {
      content: '\25BE';
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      pointer-events: none;
      color: #888; /* Customize arrow color */
      font-size: 1.2rem;
      transition: transform 0.3s, color 0.3s;
    }

      /* Style the arrow when the dropdown is open */
      .directions.open .arrow::after {
        transform: translateY(-50%) rotate(180deg);
        color: #333;  /* Customize arrow color when open */
      }

      /* Style the selected option */
      .directions select option:checked {
        font-weight: bold;
      }





      .welcome-display {
        font-size: 1rem;
        text-align: center;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
      }

      /* .legal {
        font-size: 1.0rem;
        text-align: left;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
        font-family: Arial;
      } */

      canvas {
        width: 100%;
        height: 100px; /* Increase the height for a larger waveform */
        display: block;
        margin-bottom: 1rem;
        background-color: #E4E9F7; /* Set a background color */
      }

      #buttons {
        display: flex;
        
        justify-content: space-between;
      }
      .button-text {
        margin-top: 0.5rem;
        font-size: 0.9rem;
        text-align: center;
        font-weight: bold;
      }

            
      .button-container {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .neomorphic-button {
        
        width: 100px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        background-color: #f0f0f0;
        box-shadow: inset 5px 5px 10px #d9d9d9, inset -5px -5px 10px #ffffff;
        border-radius: 50%;
        transition: all 0.2s;
        position: relative; /* Changes on 1st June */
        overflow: hidden; /* Changes on 1st June */
        }

        @media (max-width: 600px) {
        .neomorphic-button {
            max-width: 80px;
            height: 80px;
        }
        }

        @media (max-width: 400px) {
        .neomorphic-button {
            max-width: 60px;
            height: 60px;
        }
        }


        .neomorphic-button:hover {
        box-shadow: inset 3px 3px 6px #d9d9d9, inset -3px -3px 6px #ffffff;
        transform: scale(1.05);  /* Changes on 1st June */
        }

        .neomorphic-button:active {
        box-shadow: inset 0px 0px 6px #d9d9d9, inset 0px 0px 6px #ffffff;
        transform: scale(0.95);   /* Changes on 1st June */
        }

        .neomorphic-button i {
        color: #0088cc;
        }

        .neomorphic-button.record:hover i {
        color: #0ae;
        }

        .neomorphic-button.record.recording i {
            color: red;
          }

          .neomorphic-button.record.active i {
            color: red;
          }
          .neomorphic-button.stop:hover i {
            color: red ;
          }

        .neomorphic-button.download:hover i {
        color: #000000;
        }

        /* Changes on 1st June */

        /* Hover Effect: When you hover over the buttons, they will have a more pronounced effect. The buttons will scale slightly and have a softer shadow, giving them a tactile feel.

        Gradient Overlay: A gradient overlay will be added to the buttons when hovered. This overlay is positioned behind the button icon and creates a stylish visual effect.
         */
        .neomorphic-button:before {
          content: attr(data-tooltip); /* Use the data-tooltip attribute as the content */
          position: absolute;
          top: -100%;
          left: -100%;
          width: 200%;
          height: 200%;
          background: linear-gradient(to bottom right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
          transform: rotate(45deg) translate(-50%, -50%);
          z-index: 1;
          opacity: 0;
          transition: opacity 0.2s;
        }

        .neomorphic-button:hover:before {
          opacity: 1;
        }

         /* Add custom tooltip styles */
  .tooltip {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 9999;
    opacity: 0;
    transition: opacity 0.2s;
    font-size: 1rem;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 4px;
  }

  .tooltip.show {
    opacity: 1;
  }
      /* #buttons button {
        font-size: 1rem;
        padding: 1rem;
        width: calc(33% - 0.25rem);
      }

      button {
        font-size: 1rem;
        background: #0088cc;
        text-align: center;
        color: white;
        border: none;
        transition: all 0.2s;
        padding: 0.5rem;
      }

      button:hover:enabled, button:focus:enabled {
        box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 1);
        background: #0ae;
      }

      button:active:enabled {
        box-shadow: inset 0px 0px 20px rgba(0,0,0,0.5);
        transform: translateY(2px);
      }

      button:disabled {
        background: #888888;
      }

      .continue-link {
        width:33%;
        margin-left: 33%;
      }

      #buttons .continue {
        width: 100%;
      } */

      /* Make the clips use as much space as possible, and
       * also show a scrollbar when there are too many clips to show
       * in the available space */
      /* .sound-clips {
        flex: 1;
        overflow: auto;
      } */

      .sound-clips {
        height: calc(100% - 20px);
        flex: 1;
        overflow: auto;
        padding: 20px; /* Add padding for spacing */
        background-color: #fff; /* Set a background color */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Increase the box shadow effect */
      }

      /* Hide the default scrollbar */
        .sound-clips::-webkit-scrollbar {
          width: 10px;
          background-color: #f1f1f1;
        }

        /* Track */
        .sound-clips::-webkit-scrollbar-track {
          background: #f1f1f1;
        }

        /* Handle */
        .sound-clips::-webkit-scrollbar-thumb {
          background: #888;
          border-radius: 5px;
        }

        /* Handle on hover */
        .sound-clips::-webkit-scrollbar-thumb:hover {
          background: #555;
        }

        /* Custom scrollbar pseudo-elements */
        .sound-clips::-webkit-scrollbar-corner,
        .sound-clips::-webkit-scrollbar-button:start:decrement,
        .sound-clips::-webkit-scrollbar-button:end:increment {
          background-color: #f1f1f1;
        }

        .sound-clips::-webkit-scrollbar-button:vertical {
          height: 10px;
        }

        .sound-clips::-webkit-scrollbar-button:horizontal {
          width: 10px;
        }

        .sound-clips::-webkit-scrollbar-button:single-button:vertical:before,
        .sound-clips::-webkit-scrollbar-button:single-button:horizontal:before {
          content: '';
          display: block;
          background-color: #888;
          border-radius: 5px;
          transition: background-color 0.3s;
        }

        .sound-clips::-webkit-scrollbar-button:vertical:decrement:before {
          height: 10px;
        }

        .sound-clips::-webkit-scrollbar-button:horizontal:decrement:before {
          width: 10px;
        }

        .sound-clips::-webkit-scrollbar-button:vertical:increment:before {
          height: 10px;
        }

        .sound-clips::-webkit-scrollbar-button:horizontal:increment:before {
          width: 10px;
        }

        .sound-clips::-webkit-scrollbar-button:vertical:hover:before,
        .sound-clips::-webkit-scrollbar-button:horizontal:hover:before {
          background-color: #555;
        }

      .sound-clips article {
        margin-bottom: 10px; /* Add margin between audio clips */
        padding: 10px; /* Add padding for spacing */
        background-color: #f5f5f5; /* Set a background color */
        border-radius: 4px; /* Add border radius for rounded corners */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
      }

      .sound-clips audio {
        width: 100%; /* Make the audio player responsive */
      }

      .sound-clips .clip-label {
        margin-top: 5px; /* Add spacing between the audio player and label */
      }

      .sound-clips .delete {
        background-color: #ff5858; /* Set a background color for the delete button */
        color: #fff; /* Set text color for the delete button */
        border: none;
        border-radius: 4px; /* Add border radius for rounded corners */
        padding: 5px 10px; /* Add padding for spacing */
        cursor: pointer;
      }

      .sound-clips .delete:hover {
        background-color: #e50000; /* Set a different background color on hover */
      }

      /* Placeholder text */
      #placeholder-text {
        color: #888; /* Set placeholder text color */
        font-style: italic; /* Set placeholder text style */
        font-size: 17px; /* Set placeholder text size */
      }

      section {
        display: block;
      }

      .clip {
        padding-bottom: 1rem;
      }

      audio {
        width: 100%;
        display: block;
        margin: 1rem auto 0.5rem;
      }

      .clip p {
        display: inline-block;
        font-size: 1rem;
      }

      .clip button {
        font-size: 1rem;
        float: right;
      }

      button.delete {
        background: #f00;
        padding: 0.5rem 0.75rem;
        font-size: 0.8rem;
      }

      /* Checkbox hack to control information box display */

      label {
        font-size: 3rem;
        position: absolute;
        top: 2px;
        right: 3px;
        z-index: 5;
        cursor: pointer;
      }

      input[type=checkbox] {
         position: absolute;
         top: -100px;
      }

      aside {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateX(100%);
        transition: 0.3s all ease-out;
        background-color: #efefef;
        padding: 1rem;
      }

      aside p {
        font-size: 1.2rem;
        margin: 0.5rem 0;
      }

      aside a {
        color: #666;
      }

      /* Toggled State of information box */
      input[type=checkbox]:checked ~ aside {
        transform: translateX(0);
      }

      /* Cursor when clip name is clicked over */

      .clip p {
        cursor: pointer;
      }

      /* Adjustments for wider screens */
      @media all and (min-width: 500px) {
        /* Don't take all the space as readability is lost when line length
           goes past a certain size */
        .wrapper {
          width: 90%;
          max-width: 700px;
          margin: 0 auto;
        }
      }

      footer {
          font-family: Arial;
          color: #222;
          background-color: rgb(242, 242, 242);
          width: 100%;
          bottom: 0;
          position: fixed;
          padding-left: 30px;
      }

      footer a {
        margin-left: 20px;
      }

      /* .info-display {
        border-style: solid;
      } */

      .info-display {
        border-style: solid;
        padding: 20px; /* Adjust the padding as per your preference */
        background-color: #f5f5f5; /* Add a background color to the div */
        border-radius: 8px; /* Add rounded corners to the div */
        margin: 25px 0; /* Add margin around the div */
      }
