
  /* Style for the pop-up container */
    @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

    :root {
      --primary-clr: #19A7CE;
      --white: #fff;
      --text-clr: #464646;
      --tabs-list-bg-clr: #C9EEFF;
      --btn-hvr: #146C94;
    }

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      list-style: none;
      font-family: "Open Sans", sans-serif;
    }


      /* Styles for the pop-up container of quick start quide */
      .popup-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
        backdrop-filter: blur(10px);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
      }
  
      /* Styles for the pop-up content */
      .popup-content {
        width: 80%;
        max-width: 800px;
        max-height: 90%;
        background-color: var(--white);
        /* padding: 20px; */
        /* padding-top: 10px; */
        position: relative;
        overflow-y: auto;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

        /* Custom scrollbar */
        scrollbar-width: thin;
        scrollbar-color: #888 #f1f1f1;
        
      }

      .popup-content::-webkit-scrollbar {
        width: 10px;
        background-color: #f1f1f1;
      }

      .popup-content::-webkit-scrollbar-track {
        background: #f1f1f1;
      }

      .popup-content::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 5px;
      }

      .popup-content::-webkit-scrollbar-thumb:hover {
        background: #555;
      }

      .popup-header {
        text-align: center;
        padding-bottom: 20px;
      }

      /* Styles for the close button */
      .close-button {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        font-size: 24px; 
        color: var(--text-clr);
      }
  
      /* Styles for the OK button */
      .ok-button {
        display: block;
        margin: 20px auto 0;
        text-align: center;
        padding: 10px 20px;
        font-size: 16px; 
        background-color: var(--primary-clr);
        color: var(--white);
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }

      .ok-button:hover {
        background-color: var(--btn-hvr);
      }

      body{
        background: var(--primary-clr);
        font-size: 15px;
        color: var(--text-clr);
      }

      .flex_align_justify{
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .wrapper{
        min-height: 100vh;
        padding: 0 20px;
      }

      .tc_wrap{
        width: 800px;
        max-width: 100%;
        height: 500px;
        background: var(--white);
        display: flex;
        border-radius: 3px;
        overflow: hidden;
      }

      .tc_wrap .tabs_list{
        width: 200px;
        background: var(--tabs-list-bg-clr);
        height: 100%;
      }

      .tc_wrap .tabs_content{
        width: calc(100% - 200px);
        padding: 0 10px 0 20px;
        /* overflow-y: auto; */
      }

      .tc_wrap .tabs_content .tab_head,
      .tc_wrap .tabs_content .tab_foot{
        color: var(--primary-clr);
        padding: 25px 0;
        height: 70px;
      }
      .tc_wrap .tabs_content .tab_head{
          text-align: center;
        }

      .tc_wrap .tabs_content .tab_body{
        height: calc(100% - 140px);
        overflow: auto;
        font-size: 15px;
        color: var(--text-clr);
        /* Custom scrollbar */
        scrollbar-width: thin;
        scrollbar-color: #888 #f1f1f1;
      }

      .tc_wrap .tabs_content .tab_body::-webkit-scrollbar {
          width: 10px;
          background-color: #f1f1f1;
        }

        .tc_wrap .tabs_content .tab_body::-webkit-scrollbar-track {
          background: #f1f1f1;
        }

        .tc_wrap .tabs_content .tab_body::-webkit-scrollbar-thumb {
          background: #888;
          border-radius: 5px;
        }

        .tc_wrap .tabs_content .tab_body::-webkit-scrollbar-thumb:hover {
          background: #555;
        }

      .tc_wrap .tabs_list ul {
        padding: 70px 20px;
        text-align: right;
        font-size: 15px;
        color: var(--text-clr);
      }

  .tc_wrap .tabs_list ul li {
    padding: 10px 0;
    position: relative;
    margin-bottom: 3px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
  }

  .tc_wrap .tabs_list ul li:before {
    content: "";
    position: absolute;
    top: 0;
    right: -10px;
    width: 2px;
    height: 100%;
    background: var(--primary-clr);
    opacity: 0;
    transition: all 0.3s ease;
  }

  .tc_wrap .tabs_list ul li.active,
  .tc_wrap .tabs_list ul li:hover {
    color: var(--primary-clr);
  }

  .tc_wrap .tabs_list ul li.active:before {
    opacity: 1;
  }

  .tc_wrap .tabs_content .tab_body .tab_item h3 {
    padding-top: 10px;
    margin-bottom: 20px;
    color: var(--primary-clr);
  }

  .tc_wrap .tabs_content .tab_body .tab_item p {
    margin-bottom: 20px;
  }

  .tc_wrap .tabs_content .tab_body .tab_item.active {
    display: block !important;
  }

  .tc_wrap .tabs_content .tab_foot button {
    padding: 10px 20px;
    background: transparent;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .tc_wrap .tabs_content .tab_foot button.decline {
    margin-right: 15px;
    border-color: var(--tabs-list-bg-clr);
    color: var(--tabs-list-bg-clr);
  }

  .tc_wrap .tabs_content .tab_foot button.agree {
    background: var(--primary-clr);
    border-color: var(--primary-clr);
    color: var(--white);
  }

  .tc_wrap .tabs_content .tab_foot button.decline:hover {
    background: var(--tabs-list-bg-clr);
    color: var(--white);
  }

  .tc_wrap .tabs_content .tab_foot button.agree:hover {
    background: var(--btn-hvr);
    border-color: var(--btn-hvr);
  }

